@tailwind base;
@tailwind components;
@tailwind utilities;


.LoadingPage::after {
   content: "ReviewSphere";
   position: absolute;
   z-index: 10;
   top: 50%;
   left: 20%;
   transform: translateX(-20%);
   transform: translateY(-50%);
   color: white;
   font: bold;
   font-size: 90px;
}

.active {
   transform: translateY(0%);
   transition: transform 0.4s ease-in;
}

.noactive {
   transition: transform 0.4s ease-in;
}

.mainPage::after {
   content: "";
   position: absolute;
   width: 100vw;
   height: 100vh;
   background-color: #0000007a;
}

.mainbody {
   width: calc(100vw - 315px);
}

.hidescrollbar {
   scrollbar-width: thin;
   scrollbar-color: #d3d3d3 transparent;

}

.LoginPage {
   position: relative;
   background: url('https://t3.ftcdn.net/jpg/07/80/78/40/360_F_780784065_tiWH8HMcOejWD8VLj0O3ec5MgLs0JWyu.jpg') no-repeat center/cover;
   z-index: 0;
}

.LoginPage::before {
   content: "";
   position: absolute;
   width: 100vw;
   height: 100vh;
   top: 0px;
   left: 0px;
   background: rgba(0, 0, 0, 0.719);
   z-index: 1;
}

.hiddenscrollbar {
   scrollbar-width: none;
}

.negativerotate {
   transform: rotateY(-180deg);
   transition: transform 0.4s linear;
}

.positiverotate {
   transform: rotateY(180deg);
   transition: transform 0.4s linear;
}





@media (max-width:1190px) {


   .movieFullDetailsContaier {
      flex: 0;
   }

   .secondMovieDetialsContainer {
      flex-direction: column;
      align-items: center;
   }

   .movieratingContainer,
   .budgetdiv,
   .statusdiv {
      width: 400px;
   }
}

@media (max-width:1125px) {
   .userdetailscontainer {
      flex-direction: column;
   }

   .emptydiv {
      display: none;
   }

   .firstMovieDetialsContainer {
      justify-content: center;
   }

   .titleContainer {
      width: 80%;
   }
}

@media (max-width:900px) {
   .LoginPage {
      flex-direction: column;
      gap: 10px;
      padding: 30px 0px;
   }

   .LoginPagePartOne,
   .LoginPagePartTwo {
      max-width: 80%;
      width: 80%;
   }
}

@media (max-width:650px) {
   .Homenav {
      display: none;
   }

   .ContentBody,
   .searchResultContainer {
      margin-left: 0px;
      margin-top: 100px;
      width: 100%;
   }

   .HomeHeader {
      flex-direction: column;
      height: 200px;
   }
}

@media (max-width:600px) {
   .LoaginContainer {
      padding: 20px;
   }

   .titleContainerinnnerborderContainer {
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width:550px) {
   .InputContainer {
      gap: 10px;
   }

   .userprofilenavbar {
      display: flex;
      width: 100%;
      height: 300px;
   }

   .profileContentContainer {
      margin-top: 300px;
      width: 100%;
      margin-left: 0px;
   }

   .movieratingContainer {
      flex-direction: column;
      align-items: center;
   }

   .secondtitile {
      width: 300px;
      text-align: center;
   }

   .budgetdiv {
      flex-direction: column;
   }

   .statusdiv {
      width: 300px;
      align-items: center;
   }
}

@media (max-width:420px) {
   .userselectionemailbody {
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .loginimg {
      width: 100px;
      margin-top: 50px;
   }

   .LoaginContainer {
      padding: 20px;
   }
}

@media (max-width:360px) {
   .LoaginPageLargeText {
      font-size: 40px;
   }
}