@tailwind base;
@tailwind components;
@tailwind utilities;


.LoadingPage::after{
  content: "ReviewSphere";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 20%;
  transform: translateX(-20%);
  transform: translateY(-50%);
  color: white;
  font:bold;
  font-size: 90px;
}
.active{
   transform:  translateY(0%);
   transition: transform 0.4s ease-in;
}
.noactive{
  transition: transform 0.4s ease-in;
}